@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <div id="apontandoPraTela"></div>
</div>

<script>
    $.ajax ({
        type: 'GET',
        url: 'Home/praticaControleView'
        success: (response) => {
            $(#apontandoPraTela).html(response)
        },
        error: (response) => {
            console.log(JSON.stringify(response))
        }
    })
</script>