
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>formulario de Cadastro</h1>
   <div id="tela" style="border: 2px solid red"></div>
</div>

<script>
    $.ajax({
        type: 'GET',
        url: 'Home/praticaControlerView',
        success: (response) => {
            $('#tela').html(response)
        },
        error: (response) => {
            console.log(JSON.stringify(response))
        }
    })
</script>